<footer class="footer">
  <div class="footer__container">
    <a class="footer__logo-first">
      <img src="img/oblast.svg" alt="рязанская область">
      <span>Рязанская область</span>
    </a>
    <a class="footer__logo-second">
      <img src="img/razan.svg" alt="рязань">
      <span>Вам близко</span>
    </a>
    <ul class="footer__menu">
      <li>
        <a href="#">Стать автором или партнером «Сценариев поездки» </a>
      </li>
      <li>
        <a href="#">Хотите оставить отзыв о поездке в регион?</a>
      </li>
    </ul>
  </div>
</footer>
