<footer class="footer">
  <div class="footer__container">
    <a class="footer__logo-first">
      <img src="img/oblast.svg" alt="рязанская область">
      <span>Рязанская область</span>
    </a>
    <a class="footer__logo-second">
      <img src="img/razan.svg" alt="рязань">
      <span>Вам близко</span>
    </a>
    <ul class="footer__menu">
      <li>
        <a href="#">Что-то не работает или нужна помощь?</a>
      </li>
      <li>
        <a href="#">Организатор и условия программы</a>
      </li>
      <li>
        <a href="#">Стать партнером «Выгодного пути»</a>
      </li>
      <li>
        <a href="#">Хотите оставить отзыв о поездке в регион?</a>
      </li>
    </ul>
  </div>
</footer>
