<header class="header">
  <div class="container header__container">
    <a href="#" class="header__logo">
      <img src="img/logo-header.svg" alt="логотип">
    </a>
    <div class="header__second-menu">
      <a href="#" class="header__button">
        <span>сценарий поездки</span>
      </a>
    </div>

    <nav class="header__nav">
      <ul class="header__menu">
        <li>
          <a href="#">что это</a>
        </li>
        <li>
          <a href="#">выбрать сценарий</a>
        </li>
        <li>
          <a href="#">контакты</a>
        </li>
      </ul>
      <button class="header__burger">
        <img src="img/burger.svg" alt="burger">
      </button>
      <button class="header__close">
        <img src="img/close.svg" alt="close">
      </button>
    </nav>
  </div>

</header>
