<header class="header">
  <div class="container header__container">
    <a href="#" class="header__logo">
      <img src="img/logo-header.svg" alt="логотип">
    </a>
    <div class="header__second-menu">
      <a href="#" class="header__button">
        <span>ты с местными</span>
        <svg width="177" height="60" viewBox="0 0 177 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="176" y="1" width="58" height="175" transform="rotate(90 176 1)" stroke="#EEAEB5" stroke-width="2"/>
        </svg>
      </a>
      <ul class="header__second-list">
        <li>
          <a href="#">выгодный путь</a>
        </li>
        <li>
          <a href="#">сценарии поездки</a>
        </li>
      </ul>
    </div>

    <nav class="header__nav">
      <ul class="header__menu">
        <li>
          <a href="#">советы и ответы на вопросы</a>
        </li>
        <li>
          <a href="#">связаться с нами</a>
        </li>
      </ul>
      <button class="header__burger">
        <img src="img/burger.svg" alt="burger">
      </button>
      <button class="header__close">
        <img src="img/close.svg" alt="close">
      </button>
    </nav>
  </div>

</header>
