.categories {

  a, button {
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
      transition: 0.2s;
    }
  }

  &__container.container {
    @media (max-width: 1023px) {
      padding-right: 0;
    }
  }


  &__title {
    margin-top: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 100%;
    /* identical to box height, or 60px */

    color: #27363A;

    mix-blend-mode: normal;

    @media (max-width: 1023px) {
      font-size: 35px;
      line-height: 115%;
    }

  }

    .swiper {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    &__button-item {
      width: auto;
      max-width: 200px;
      margin-right: 16px;
      font-size: 16px;
      line-height: 100%;
      border-radius: 100px;
      border: 2px solid #EEAEB5;
      padding: 19px 30px;
      color: #27363A;
      cursor: pointer;

      &:last-child {
        @media (max-width: 1023px) {
          margin-right: 46px;
        }
      }

      &--active {
        background: #EEAEB5;
        color: white;
      }
    }
}
