.header {
  background-color: $white;
  position: relative;
  z-index: 20;
}

.header__container {
  display: flex;
  padding: 33px 0;
  align-items: center;

  @media(max-width: 1023px) {
    padding: 20px 0 15px 0;
  }
}

.header__menu {
  @include list-reset;
  display: flex;

  & a {
    text-decoration: none;
    font-size: 18px;
    line-height: 145%;
    color: #27363A;
    padding: 2px 5px;
    border-bottom: 2px solid transparent;
  }

  & a:hover {
    transition: border-color 0.4s ease;
    border-color: #EEAEB5;
  }

  & li:not(:first-child) {
    margin-left: 35px;

    @media(max-width: 1400px) {
      margin-left: 15px;
    }

    @media(max-width: 1023px) {
      margin-left: 0;
      margin-bottom: 15px;
    }
  }

  & li:first-child {
    @media(max-width: 1023px) {
      margin-left: 0;
      margin-bottom: 15px;
    }
  }

  @media(max-width: 1023px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 20;
    align-items: center;
    visibility: hidden;
    opacity: 0;
  }
}

.header__nav {
  margin-left: auto;
}

.header__button {
  text-decoration: none;
  font-size: 16px;
  line-height: 145%;
  text-align: center;
  position: relative;

  @media(max-width: 1023px) {
    font-size: 7px;
    line-height: 100%;
    width: 100px;
    height: 22px;
    box-sizing: border-box;
    align-self: flex-start;
  }

  & svg {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;

    @media(max-width: 1023px) {
      width: 100px;
      height: 22px;
    }
  }

  & span {
    position: relative;
    color: #EEAEB5;
    z-index: 3;
    padding: 0 55px;

    @media(max-width: 1023px) {
      padding: 0 30px;
    }
  }

  &:hover svg path {
    fill: #EEAEB5;
    transition: fill 0.4s ease;
  }

  &:hover span{
    color: #EEAEB5;
    transition: color 0.4s ease;
  }
}

.header__second-menu {
  position: relative;
  margin-left: 55px;


  @media(max-width: 1440px) {
    margin-left: 20px;
  }

  @media(max-width: 1023px) {
    margin-left: 10px;
    height: 22px;
  }
}

.header__second-list {
  @include list-reset;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 83px 26px 37px 26px;
  left: 0;
  top: 12px;
  background-color: white;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;

  @media(max-width: 1023px) {
    padding: 43px 12px 12px 12px;
  }

  & a {
    text-decoration: none;
    font-size: 18px;
    line-height: 145%;
    color: #27363A;

    @media(max-width: 1023px) {
      font-size: 12px;
    }
  }

  & li:not(:last-child) {
    margin-bottom: 14px;
  }
}

.header__button:hover + .header__second-list {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.header__second-list:hover {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.header__logo:hover {
  opacity: 0.8;
  transition: opacity 0.4s ease;
}

.header__logo {
  margin-left: 40px;
    @media(max-width: 1400px) {
      margin-left: 20px;
      & img {
        max-width: 150px;
      }
    }

    @media(max-width: 1023px) {
      margin-left: 12px;
      & img {
        max-width: 90px;
      }
    }
}

.header__burger {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: none;
  margin-right: 12px;

  @media(max-width: 1023px) {
    display: block;
  }
}

.header__close {
  position: fixed;
  top: 20px;
  right: 12px;
  z-index: 21;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 25px;
      visibility: hidden;
    opacity: 0;

  & img {
    width: 100%;
  }
}

.header__menu_active {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s ease;
}

.header__close_active {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s ease;

  @media(min-width: 1024px) {
    visibility: hidden;
    opacity: 0;
  }
}
