.promo {
  background-color: #7397CE;
}

.promo__title {
  margin-top: 40px;
 font-weight: normal;
  font-size: 80px;
  line-height: 110%;
  color: white;
  max-width: 830px;
  margin-bottom: 25px;

  @media(max-width: 1440px) {
    font-size: 70px;
  }

  @media (max-width: 1023px) {
    font-size: 50px;
    text-align: center;
  }

  @media (max-width: 767px) {
    font-size: 40px;

  }
}

.promo__container {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url('../img/promo.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;

  @media(max-width: 1023px) {
    background: transparent;
  }
}
