.promo {
  background: #EEAEB5;
  color: white;
  overflow: hidden;

  &__container {
    position: relative;
    padding-top: 114px;
    padding-bottom: 140px;

    @media(max-width: 1023px) {
      padding-top: 39px;
      padding-bottom: 60px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-right-width: 272px;
      border-left-width: 272px;
      border-bottom: 290px solid white;
      right: -23%;
      top: 50%;

      @media(max-width: 1199px) {
        content: none;
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-right-width: 272px;
      border-left-width: 272px;
      border-top: 290px solid white;
      right: -23%;
      top: 0;

      @media(max-width: 1199px) {
        content: none;
      }
    }
  }

  &__title {
    max-width: 953px;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 115%;
    margin-top: 0;

    color: #FFFFFF;

    @media(max-width: 1023px) {
      font-size: 35px;
      line-height: 115%;
    }
  }

  &__text {
    margin: 0;
    max-width: 624px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 135%;
    /* or 27px */
    color: #FFFFFF;

    @media(max-width: 1023px) {
      font-size: 14px;
      line-height: 115%;
      max-width: none;
    }
  }

}
