.receive {
  background: #92BD72;
  padding-top: 75px;
  padding-bottom: 39px;
  position: relative;
  z-index: 4;

  @media (max-width: 1023px) {
    padding-top: 28px;
    padding-bottom: 74px;
  }

    a, button {
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
      transition: 0.2s;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 52px;
    font-size: 80px;
    font-weight: 400;
    line-height: 110%;
    color: #27363A;

    @media(max-width: 1400px) {
      font-size: 60px;
    }

    @media (max-width: 1023px) {
      font-weight: 400;
      font-size: 35px;
      line-height: 100%;
      text-align: left;
      margin-bottom: 30px;
    }
  }

  &__btn {
    position: relative;

    @media (max-width: 1023px) {
      order: 2;
      margin-top: 26px;
    }

    & a {
      position: relative;
    }

    & svg {
      @media (max-width: 1023px) {
        width: 190px;
        height: 60px;
      }
    }
  }

  &__apps {
    width: 72px;
    height: 32px;
    background: url("../img/apps.svg") no-repeat;
    align-self: center;

    @media (max-width: 1023px) {
      width: 45px;
      height: 20px;
      align-self: flex-start;
      background-size: contain;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    margin-top: 70px;

    @media (max-width: 1023px) {
      order: 1;
      margin-top: 0;
    }
  }

  &__external {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    text-align: center;
    color: rgba(39, 54, 58, 0.5);

    @media (max-width: 1023px) {
      max-width: 130px;
      font-size: 10px;
      line-height: 125%;
      margin-top: 15px;
      padding: 0;
      display: flex;
      flex-direction: column;
      text-align: left;
    }

    & a {
      text-decoration: none;
      border-bottom: 1px solid rgba(39, 54, 58, 0.5);

      @media (max-width: 1023px) {
        font-size: 18px;
        line-height: 125%;
        white-space: nowrap;
        margin-top: 5px;
      }
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    max-width: 389px;

    @media (max-width: 1023px) {
      max-width: none;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1199px) {
      flex-direction: column;
      justify-content: flex-start;

    }
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 950px;

    @media (max-width: 1023px) {
      flex-direction: column;
    }

      & li {
      display: flex;
      flex-direction: column;
      margin-right: 4%;

        @media (max-width: 1023px) {
          margin-bottom: 6px;
        }

      &:nth-child(3) {
        max-width: 292px;
        margin-right: 0;

        @media (max-width: 1023px) {
          max-width: none;
        }
      }

      &:nth-child(2) {
        max-width: 269px;

        @media (max-width: 1023px) {
          max-width: none;
        }
      }

      &:nth-child(1) {
        max-width: 271px;

        @media (max-width: 1023px) {
          max-width: none;
        }
      }

      & b {
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 100%;
        color: #27363A;
        mix-blend-mode: normal;

        @media (max-width: 1023px) {
          font-size: 20px;
          line-height: 100%;
          color: #27363A;
          mix-blend-mode: normal;
        }
      }

      & p {
        margin-top: 12px;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 135%;
        color: #27363A;

        @media (max-width: 1023px) {
          font-size: 14px;
          line-height: 135%;
        }
      }
    }
  }
}
