.services {
  background-color: white;
  position: relative;
  z-index: 4;
}
.services__title {
  font-weight: 600;
  font-size: 80px;
  line-height: 115%;
  color: #27363A;
  max-width: 1200px;
  margin-top: 0;
  margin-bottom: 33px;
  padding-top: 60px;



  @media(max-width: 1440px) {
    font-size: 60px;
  }

  @media (max-width: 1023px) {
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 15px;
    text-align: center;
    padding-top: 30px;
  }
}

.services__container {
  position: relative;
  z-index: 2;
  display: flex;
  max-width: 1312px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media(max-width: 767px) {
    flex-direction: column;
    padding: 0;
  }
}

.services__row {
  position: relative;
  min-height: 525px;

  @media(max-width: 1400px) {
    min-height: 300px;
  }
}

.services__row::before {
  content: "";
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  height: 100%;
}

.services__row::after {
  content: "";
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  height: 100%;
}

.services__row:first-of-type::before {
  background-color: #EEAEB5;

  @media(max-width: 767px) {
    background-color: transparent;
  }
}

.services__row:first-of-type::after {
  background-color: #7397CE;

  @media(max-width: 767px) {
    background-color: transparent;
  }
}

.services__row:last-of-type::before {
  background-color: #F06464;

  @media(max-width: 767px) {
    background-color: transparent;
  }
}

.services__row:last-of-type::after {
  background: #92bd72;
}

.services__row:first-of-type {
  padding-top: 61px;

  @media(max-width: 1440px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media(max-width: 767px) {
    padding: 0;
    order: 1;
  }
}

.services__row:last-of-type {
  padding-top: 100px;
  padding-bottom: 92px;

  @media(max-width: 1440px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media(max-width: 767px) {
    padding: 0;
    order: 2;
  }
}


// Точечные изменения

.services__row:last-of-type .service__title {
  max-width: 400px;
}

.services__row:last-of-type {
  display: flex;
  flex-direction: column;
}

@media(max-width: 767px) {
.services__row:first-child .service:first-child {
  background-color: #EEAEB5;
}

.services__row:first-child .service:last-child {
  background-color: #7397CE;
}

.services__row:last-child .service:first-child {
  background-color: #F06464;
}

.services__row:last-child .service:last-child {
  background-color: #92BD72;
}
}
