.service__title {
  font-weight: normal;
  font-size: 60px;
  line-height: 110%;
  color: #27363A;
  margin-top: 0;
  margin-bottom: 15px;

  @media(max-width: 1400px) {
    font-size: 40px;
  }

  @media (max-width: 1023px) {
    font-weight: 400;
    font-size: 25px;
  }
}

.service {
  width: 50%;

  @media(max-width: 767px) {
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    min-height: 200px;
  }
}

.service:first-child {
  padding-right: 10px;
}

.service:last-child {
  padding-left: 50px;
  padding-bottom: 97px;

  @media (max-width: 1023px) {
    padding-left: 20px;
  }

  @media(max-width: 767px) {
       padding-bottom: 20px;
  }
}

.service__subtitle {
  margin-top: 0;
  font-size: 20px;
  line-height: 135%;
  color: #27363A;
  max-width: 525px;
  margin-bottom: 0;

  @media (max-width: 1023px) {
    font-weight: 400;
    font-size: 14px;
  }
}

.service__link {
  display: inline-block;
  font-size: 26px;
  line-height: 145%;
  color: #27363A;
  text-decoration: none;
  padding: 29px 40px;
  border: 2px solid #27363A;
  border-radius: 50%;
  margin-top: 88px;
  transition: opacity 0.4s ease;

  &:hover {
    color: #7397CE;
    background-color: $white;
    border-color: $white;
    transition: all 0.4s ease;
  }

  @media(max-width: 1440px) {
    margin-top: 30px;
  }

  @media(max-width: 1023px) {
    font-size: 18px;
    padding: 15px 25px;
  }
}

.service__social {
  margin-top: 11px;
}

.service__info-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;

  @media (max-width: 1023px) {
    margin-top: 20px;
  }

  & a:hover {
    color: $white;
    transition: all 0.4s ease;
  }

  & li:not(:last-child) {
    margin-bottom: 30px;

    @media (max-width: 1023px) {
      margin-bottom: 15px;
    }
  }

  & li:nth-child(2n) {
    margin-left: 40px;

    @media(max-width: 1440px) {
      margin-left: 0;
    }
  }

  & h4 {
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #27363A;
    margin-top: 0;
    margin-bottom: 12px;

    @media (max-width: 1023px) {
      font-weight: 400;
      font-size: 18px;
    }
  }

}

.service__info-item {
  max-width: 260px;
  font-size: 16px;
  line-height: 21px;
  color: #27363A;

  @media (max-width: 1023px) {
    font-weight: 400;
    font-size: 14px;
  }
}

.service__info-link {
  font-size: 26px;
  line-height: 34px;
  color: #27363A;
  margin-bottom: 12px;
  display: block;

  @media (max-width: 1023px) {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.service__info-content {
  margin: 0;
}
