@font-face {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SuisseIntl-Regular.otf") format("opentype");
  // url("../fonts/SuisseIntl-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/SuisseIntl-Medium.otf") format("opentype");
  // url("../fonts/SuisseIntl-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SuisseIntl-Bold.otf") format("opentype");
  // url("../fonts/SuisseIntl-Bold.woff") format("woff");
  font-display: swap;
}

